<%= form_with(model: function, local: true, class: 'ui form') do |form| %>
  <div class="field">
    <%= form.label :expression, 'Expressão' %>
    <%= form.text_field :expression %>
  </div>

  <div class="field">
    <%= form.label :point_a, 'Ponto A' %>
    <%= form.text_field :point_a %>
  </div>

  <div class="field">
    <%= form.label :point_b, 'Ponto B' %>
    <%= form.text_field :point_b %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar', class: 'ui positive button' %>
  </div>
<% end %>
