<div class="ui container">
  <div class="ui hidden divider"></div>

  <h1 class="ui header">
    <i class="superscript icon"></i>
    <div class="content">
      Funções
    </div>
  </h1>

  <table class="ui tablet selectable celled table">
    <thead>
      <tr>
        <th>Expressão</th>
        <th>Ponto A</th>
        <th>Ponto B</th>
        <th class="right aligned">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @functions.each do |function| %>
        <tr>
          <td class="selectable">
            <%= link_to function.expression, function %>
          </td>
          <td><%= function.point_a %></td>
          <td><%= function.point_b %></td>
          <td class="right aligned">
            <%= link_to edit_function_path(function), class: 'ui icon primary basic compact button' do %>
              <i class="edit icon"></i>
            <% end %>
            <%= link_to function, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui icon negative basic compact button' do %>
              <i class="trash icon"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <br>

  <%= link_to new_function_path, class: 'ui primary button' do %>
    <i class="superscript icon"></i>
    Adicionar função
  <% end %>
</div>
