<%= javascript_include_tag 'functions_show', 'metodo_bisseccao', defer: true %>

<div class="ui container">
  <div class="ui hidden divider"></div>

  <h1 class="ui function-show header">
    <i class="chart line icon"></i>
    <div class="content">
      <%= @function.human_expression %>
    </div>
  </h1>

  <div class="function-style">
    <strong>Ponto A:</strong>
    <div class="ui input">
      <input type="text" value="<%= @function.point_a %>" id="function_point_a" class="code" size="6">
    </div>

    <strong class="m-20-r">Ponto B:</strong>
    <div class="ui input">
      <input type="text" value="<%= @function.point_b %>" id="function_point_b" class="code" size="6">
    </div>

    <button class="ui button link hidden" id="update_points">
      <i class="refresh icon"></i>
      Atualizar
    </button>
  </div>

  <%= render 'chart' %>

  <%= render 'metodo_bisseccao' %>

  <%= link_to edit_function_path(@function), class: 'ui button' do %>
    <i class="edit icon"></i>
    Editar
  <% end %>
  <%= link_to functions_path, class: 'ui button' do %>
    <i class="chevron left icon"></i>
    Voltar
  <% end %>
  <br><br>
</div>
