<%= javascript_include_tag 'functions_show', defer: true %>

<div class="ui container">
  <div class="ui hidden divider"></div>

  <h1 class="ui function-show header">
    <i class="chart line icon"></i>
    <div class="content">
      <%= @function.human_expression %>
    </div>
  </h1>

  <%= form_with(model: @function, local: true, class: 'ui form') do |form| %>
    <div class="function-show">
      <strong>Ponto A:</strong>
      <div class="ui large input">
        <%= form.text_field :point_a, class: 'code', size: 6 %>
      </div>

      <strong id="point_b_title">Ponto B:</strong>
      <div class="ui large input">
        <%= form.text_field :point_b, class: 'code', size: 6 %>
      </div>

      <a class="ui button link hidden" id="update_points">
        <i class="refresh icon"></i>
        Atualizar
      </a>
    </div>
  <% end %>


  <div class="ui divider"></div>

  <div class="ui piled segment">
    <div id="chart_loading" class="ui active inverted dimmer">

      <div class="ui text loader">
        Carregando
      </div>

      <!-- Só mostra em caso de erro no request -->
      <div class="ui text errored hidden">
        <h4 class="ui icon header">
          <i class="warning sign icon"></i>
          <div class="content">
            Ocorreu um erro!
            <div class="sub header">
              Por favor, contate um administrador do sistema.
            </div>
          </div>
        </h4>
      </div>

    </div>

    <div id="show_function_chart" style="min-height:480px"></div>

  </div>

  <div class="ui piled segment">

  </div>

  <%= link_to edit_function_path(@function), class: 'ui button' do %>
    <i class="edit icon"></i>
    Editar
  <% end %>
  <%= link_to functions_path, class: 'ui button' do %>
    <i class="chevron left icon"></i>
    Voltar
  <% end %>
  <br><br>
</div>
